/* --- FONT IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/* --- RESETS --- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* --- GLOBAL STYLING --- */
body {
    background-color: var(--background);
}

body, input, button, select, option {
    font-family: 'Inconsolata', monospace;
    color: var(--text);
}

/* --- COLOR VARIABLES --- */
:root {
    --background: white;
    --field-background: rgb(241, 241, 241);
    --grey: rgb(197, 197, 197);
    --text: rgb(51, 51, 51);
    --main-accent: rgb(0, 119, 128);
    --secondary-accent: rgb(250, 176, 15);
}

/* --- FORM STYLING --- */
input {
    padding: 0.75rem;
    background-color: var(--field-background);
    border-radius: 0.5rem;
    border: none;
    font-size: 110%;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 0.75rem;
    background-color: var(--main-accent);
    color: white;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
    font-size: 110%;
}

select {
    padding: 0.75rem;
    background-color: var(--field-background);
    border-radius: 0.5rem;
    border: none;
    font-size: 110%;
    width: 100%;
    box-sizing: border-box;
    border-right: 1rem solid transparent
}

/* --- DARK MODE --- */
@media (prefers-color-scheme: dark) {
    
    :root {
        --background: rgb(34, 34, 34);
        --field-background: rgb(51, 51, 51);
        --grey: rgb(78, 78, 78);
        --text: rgb(241, 241, 241);
        --main-accent: rgb(250, 176, 15);
        --secondary-accent: rgb(0, 119, 128);
    }

}