/* --- FONT IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/* --- RESETS --- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* --- GLOBAL STYLING --- */
body, input, button, select, option {
    font-family: 'Inconsolata', monospace;
    color: var(--dark-grey);
}

/* --- COLOR VARIABLES --- */
:root {
    --light-grey: rgb(241, 241, 241);
    --grey: rgb(197, 197, 197);
    --dark-grey: rgb(51, 51, 51);
    --accent-turquoise: rgb(0, 119, 128);
    --accent-yellow: rgb(250, 195, 15);
}