/* --- FONT IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/* --- RESETS --- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* --- GLOBAL STYLING --- */
body {
    background-color: var(--background);
}

body, input, button, select, option {
    font-family: 'Inconsolata', monospace;
    color: var(--text);
}

/* --- COLOR VARIABLES --- */
:root {
    --background: white;
    --field-background: rgb(241, 241, 241);
    --grey: rgb(197, 197, 197);
    --text: rgb(51, 51, 51);
    --main-accent: rgb(250, 176, 15);
    --secondary-accent: rgb(0, 119, 128);

    /* VUEFORM MULTISELECT */
    --ms-radius: 0.5rem;
    --ms-bg: var(--field-background);
    --ms-border-color: transparent;
    --ms-font-size: calc(1.1 * 1rem);
    --ms-py: 0.6rem;
    --ms-px: 1rem;
    --ms-dropdown-bg: var(--field-background);
    --ms-dropdown-border-color: var(--background);
    --ms-option-bg-pointed: var(--grey);
    --ms-option-color-pointed: var(--text);
    --ms-option-bg-selected: var(--main-accent);
    --ms-option-color-selected: #FFFFFF;
}

/* --- FORM STYLING --- */
input {
    padding: 0.75rem;
    background-color: var(--field-background);
    border-radius: 0.5rem;
    border: none;
    font-size: 110%;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 0.75rem;
    background-color: var(--main-accent);
    color: white;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
    font-size: 110%;
}

select {
    padding: 0.75rem;
    background-color: var(--field-background);
    border-radius: 0.5rem;
    border: none;
    font-size: 110%;
    width: 100%;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background);
    border-radius: 5px;
}

/* --- DARK MODE --- */
@media (prefers-color-scheme: dark) {
    
    :root {
        --background: rgb(34, 34, 34);
        --field-background: rgb(51, 51, 51);
        --grey: rgb(78, 78, 78);
        --text: rgb(241, 241, 241);
        --main-accent: rgb(250, 176, 15);
        --secondary-accent: rgb(0, 119, 128);
    }

}